.lista-filmes {
   

}

.lista-filmes article {
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 0, 7);
    padding: 15px;
    border-radius: 4px;
}

.lista-filmes strong {
  color: rgb(255, 255, 255);
  display: block;
  text-align: center;
  margin: 7px;
}

.lista-filmes img {
    display: block;
    width: 560px;
    height: 800px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.lista-filmes a {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(7, 44, 119);
    width: 560px;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
 
}

.imagens{

   margin-left: 40px;
   margin-right: 40px;

}

