.lista-filmes {

}

.lista-filmes article {
    justify-content: center;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 4px;
}

.lista-filmes strong {
  display: block;
  text-align: center;
  margin: 7px;
}

.lista-filmes img {

    width: 200px;
    height: 300px;
}

.lista-filmes a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    width: 200px;
    margin-left: 40px;
    margin-right: 40px;
 
}

.imagens{

   margin-left: 40px;
   margin-right: 40px;

}